.sidebar {

  .-logo {
    display: flex;
    align-items: center;
    padding: 12px;
    
    h1 {
      margin-left: 12px;
      color: white
    }

    img {
      border-radius: 20px;
      width: 50px;
      height: auto;

      @media (min-width: $breakpoint-md) {
          width: 100px;
      }
    }
  }

  p {
    color: white;
    text-align: start;

    opacity: 0.7;
    padding: 8px;
  }
  .ant-menu-item, .ant-menu-submenu-title  {
    display: flex;
    align-items: center;
  }
}