.table {
    overflow: scroll;
    background-color: white;
    border-radius: 10px;
    padding: 16px;

    
    .-title {
        display: flex;
        justify-content: space-between;
    }

    .-avatar, .-product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .-tag {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    
    .-icon {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .-footer {
        display: flex;
        justify-content: end;
        gap: 8px;
    }

    h4 {
        font-size: 28px;
        font-weight: 500;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
    }
}